<div class="container">
<!--  <div class="mat-headline-4">Welcome to Deeno!</div>-->
  <img src="assets/web_search.png" class="logo">

  <div class="mat-body-1 text-area">
    Deeno is a <b>movie search engine</b> 🔎 powered by Wikidata 📚, using advanced language models 🤖,
    vector databases and low-latency autocomplete ⚡️ to serve search. <br> <br>

    The eventual goal is to build this for <b>ALL</b> of Wikipedia. Right now it just serves a small set of movies.<br><br>

    Built with:
  </div>

  <div class="list-box">
    <mat-chip-option selectable="false" highlighted color="primary">Angular 15</mat-chip-option>
    <mat-chip-option selectable="false" highlighted color="primary">Java</mat-chip-option>
    <mat-chip-option selectable="false" highlighted color="accent">Python</mat-chip-option>
    <mat-chip-option selectable="false" highlighted color="accent">HuggingFace</mat-chip-option>
    <mat-chip-option selectable="false" highlighted color="warn">Scala</mat-chip-option>
  </div>

  <button routerLink="/search" mat-raised-button color="accent">Try it out</button>

  <div class="mat-body-1 text-area">
    Checkout the source on <a href="https://github.com/ChengSashankh/search">GitHub</a>
  </div>
</div>
