@use '@angular/material' as mat;
$my-palette: mat.$deep-purple-palette;

.accent-color {
  color: mat.get-color-from-palette($my-palette, 500);
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;

  app-search-box {
    overflow-y: scroll;
  }

  .spacer {
    flex: 1 1 auto;
  }

}
