@use '@angular/material' as mat;
$my-palette: mat.$deep-purple-palette;

.title-text {
  color: green;
}

.title-text:hover {
  cursor: pointer;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;

  .small-logo {
    max-height: 70%;
  }

  app-search-box {
    overflow-y: scroll;
  }

  .spacer {
    flex: 1 1 auto;
  }

}
