.container {
  width: 100%;
  height: 100%;
  text-align: center;

  .search-form {
    margin-top: 20px;
    .search-field {
      border-radius: 15px;
      mat-icon {
        font-size: 30px;
      }

      .suggested-search {
        color: gray;
      }
    }
  }

  mat-form-field {
    width: 60%;
  }

  button {
      margin: 10px;
  }
}
